<% if flash.now[:info] %>
  <p><%= flash.now[:info] %></p>
<% end %>

<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<% @posts.each do |post|%>
  <h2><%= post.name %></h2>
  <p><%= limit_post_description(post.description) %></p>
  <p><%= time_ago_in_words(post.created_at) + " ago" %></p>
  <%= link_to "Read more", post_path(post) %>
  <br/>
  Tags:
  <% post.tags.each do |tag|%>
    <%= link_to tag.name, tag_path(tag) %>
    &nbsp;
  <% end %>
<% end %>