<% if flash.now[:warning] %>
  <p><%= flash.now[:warning] %></p>
<% end %>

<%= form_for @post do |f|%>
  Name: <%= f.text_field :name %>
  Description: <%= f.text_area :description %>
  Tags: <%= f.select "tag_ids", Tag.all.collect{|tag| [tag.name, tag.id]}, {}, { multiple: true } %>
  <%= f.submit %>
<% end %>